body {
  background-color: #000000;
  height: 100%;
  margin-top: 0;
}

.background{
  background-image: url("../assets/img/Untitled-1.jpg");
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-width: 99%;
  min-height: 100%;
  background-size: cover;
}

div.container{
  height: 10em;
  position: relative
}

div.container h2{
  margin: 0;
  font-family: "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  font-size: 2.5em;
  color: #ffffff;
  position: absolute;
  top: 195%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
div.container p{
  margin: 0;
  font-size: 1.2em;
  color: #ffffff;
  position: absolute;
  font-family:  "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  top: 218%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#boxx {
  padding: 4em 4em 4em 4em;
  margin-top: 1%;
  margin-left: 17em;
  margin-right: 17em;
  margin-bottom: 0;
  background-color: #cad4e0;
  border-radius: 2px;
  text-align: center;
  transition-property: all;
}

#boxx a{
  font-size: 0.8em;
}
#intro {
  padding: 10em 10em 10em 10em;
  background-color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
  opacity: 0.5;
  position:sticky;
  margin-top: -17%;
}

#intro h2{
  font-family: "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  color: #000000;
}

#intro p{
  font-family: "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  color: #000000;
}

input[type="button"],
	button,
	.button {
		border-radius: 2px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 300;
		height: 2.85rem;
		line-height: 2.95rem;
		padding: 0 1.5rem;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
    font-family: Helvetica, Verdana, sans-serif;
    color: #000000;
	}

input[type="button"].alt,
	button.alt,
	.button.alt {
		background-color: transparent;
		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
		color: #ff0000 !important;
  }

  input[type="button"].ant,
  	button.ant,
  	.button.ant {
  		background-color: transparent;
  		box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  		color: #ff0000 !important;
      margin-top:1%;
      margin-left: 50%;
    }
#book{
  padding-top: 48%;
  transform: translateY(-17%);
	padding-bottom: 0%;
  position: inherit;
}

#book h2{
  font-family:  Helvetica, Verdana, sans-serif;
  color: #000000;
}

/*gambar*/
.kotak {
	padding: 2px;

	background-color: #2f333b;
	text-align: left;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 5px;
}

.items {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
}

.items .kotak {
	margin:3em 1em 3em 1em;
	width: calc(33% - 2em);
}

.align-center {
	text-align: center;
}

/* punya promotion*/
#KOO {
  padding: 2em 2em 2em 2em;
  margin-top: 1em;
  background-color: #FFFFFF;
  border-radius: 2px;
  text-align: center;
}
#KOO h1, h2, h3{
  font-family: "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  color: #000000;
}
#KOO p{
  font-family: "Montserrat", "Source Sans Pro", Helvetica, sans-serif;
  color: #000000;
}

#header a{
  position: absolute;
  text-align: center;
  text-transform: full-width;
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1em;
  z-index: 9999;
  color: #ff0000;
}

/*form*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 1em;
}
label{
  color: #000000;
}

textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ================ */
.images {
    display: inline;
    margin: 0px;
    padding: 0px;
    padding-left: 2%;
    vertical-align:middle;
    width:30%;
    height: 30%;
}
#content {
    display: block;
    margin: 0px;
    padding: 0px;
    margin-top: 1.5%;
    position: relative;
    height: auto;
    max-width: auto;
    overflow-y: hidden;
    overflow-x:auto;
    word-wrap:normal;
    white-space:nowrap;
}

#footer{
  color: #131c2e;
}
